# ==========================
# Python
# ==========================
omni-env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
omni-env/
omnifinetune-env/
.venv/
venv/

# Environment Variables
.env
backend/uploads/
.uv-cache/

# ==========================
# Models & Training (FOR FINETUNING PART)
# ==========================
finetuning/models/
checkpoints/
outputs/
cache/
hf_cache/

# ==========================
# Node / React
# ==========================
node_modules/
frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Trained adapters
# ==========================
adapters/

# ==========================
# Training outputs
# ==========================
merged_models/

# ==========================
# Evaluation outputs
# ==========================
evaluation/base_outputs.json
evaluation/sft_outputs.json
evaluation/dpo_outputs.json

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Alembic compiled cache
# ==========================
alembic/__pycache__/

# ==========================
# Build artifacts
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Python cache
# ==========================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ==========================
# ==========================
