#---------data preprocessing libraries----------
datasets==2.21.0
pandas==2.2.2
numpy==1.26.4
pyarrow==17.0.0
tqdm==4.66.5
requests==2.32.3
beautifulsoup4==4.12.3
jupyter==1.1.1
notebook==7.2.2
matplotlib==3.9.2

#----------QLoRA fine-tuning libraries-----------
transformers==4.53.2
peft==0.17.0
trl==0.20.0
accelerate==1.8.1
bitsandbytes==0.46.1
sentencepiece==0.2.0
scipy==1.14.1
evaluate==0.4.3
safetensors==0.5.3